
* {
    margin: 0;
    padding: 0;
   
  
}
body {
    font-family: 'Arial', sans-serif;
    background-color: lightgoldenrodyellow;
    color: black;
}
header {
    background: linear-gradient(135deg, lightpink, gray);
    color: white;
    text-align: center;
    padding: 80px 20px;
    border-radius: 0 0 50px 50px;
}

.navbar{margin: 15px;
padding:15px;
text-align: center;
font-size: 18px;
color: white;
border: 2px solid white;
border-radius: 10px;}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

header .btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: lightpink;
    color: gray;
    font-weight: bold;
    border-radius: 20px;
   
}

header .btn:hover {
    background-color: peru;
}


.content-section {
    padding: 40px 20px;
    text-align: center;
}

#menu {
    background-color: lightgoldenrodyellow;
    padding: 40px 20px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
  
    ;
}

.menu-item {
    flex: 1 1 30%;
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.menu-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}


form {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightcyan;
    border-radius: 4px;
}

form .btn {
    width: 100%;
    background-color: grey;
    color: lightpink;
    border: none;
    
    border-radius: 4px;
    cursor:pointer;
    transition: background-color 0.3s;
}
.add{width:98%;
margin: 30px;
text-align: center;
padding: auto;
color: darkmagenta;}

footer {
    text-align: center;
    padding: 10px;
    background-color: grey;
    color: white;
    border-radius: 20px 20px 0 0;
}
.gallery-container{  display: flex; flex-wrap: wrap;
   
    }